global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

rule_files:
  - {{ prometheus_config_dir }}/rules/*.rules

alerting:
  alertmanagers:
  - static_configs:
    - targets: ["127.0.0.1:9093"]
  alert_relabel_configs:
  - action: labeldrop
    regex: replica

scrape_configs:
  - job_name: "prometheus"
    metrics_path: "{{ prometheus_metrics_path }}"
    static_configs:
      - targets:
          - "localhost:9090"
  - job_name: "alertmanager"
    static_configs:
      - targets:
          - "localhost:9093"
  - job_name: "node_exporter"
    scrape_interval: 15s
    static_configs:
    - targets:
      - localhost:9100
      - gitlab:9100
      - nginx:9100
      - app:9100
      - db01:9100
      - db02:9100
  - job_name: "gitlab-federation"
    scrape_interval: 15s
    scrape_timeout: 15s
    scheme: http
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
        - '{__name__=~".+"}'
    static_configs:
      - targets:
        - 'gitlab:9090'
